# Exercises
---

### 1. Group by Department and get average salary

### 2. Group by Gender and get employee count

### 3. Sum sales by Region and Category

### 4. Aggregate sales (sum) and profit (mean) by Category

### 5. Create a pivot table for total sales by Region and Month

### 6. Sort departments by total salary spent

### 7. Count employees per region and gender

### 8. Create pivot table with average salary per Department and Gender

### 9. Show top 3 categories by total revenue

### 10. Add new column "Revenue" = Price Ã— Quantity, then group by Product