# Exercises
---

### 1. Import pandas and read a CSV

### 2. View top and bottom rows

### 3. Check number of rows and columns

### 4. Get column names

### 5. Summary statistics

### 6. Get all rows where salary > 50,000

### 7. Select only Name and Department columns

### 8. Sort by salary descending

### 9. Count unique departments

### 10. Get row by index