# Exercises
---

## 1. Fill null salaries with 0

### 2. Drop all rows with any nulls

### 3. Strip spaces from name field

### 4. Convert JoinDate to datetime

### 5. Capitalize names

### 6. Lowercase all emails

### 7. Remove duplicates

### 8. Rename column "emp_id" to "EmployeeID"

### 9. Remove column "Notes"

### 10. Fill missing values in "Department" with "Unknown"